.section-one {
    @include flex;
    @include section;
    &>div {
        width: 50%;
    }
    h1 {
        font-size: 50px;
        font-weight: 100;
        padding-right: 80px;
    }
    h2 {
        margin: 40px 0;
        font-weight: 100;
        padding-right: 50px;
    }
    img {
        width: 100%;
        margin-left: 20px;
    }
    button {
        @include btn;
        margin-bottom: 20px;
    }
    a {
        font-size: 12px;
    }
}

// section-two--------------------------------------
.section-two {
    background-color: #FFE7D2;
    text-align: center;
    margin-bottom: 1px solid gray;
}

.container {
    @include section;
    text-align: center;
    width: 40%;
}

.row {
    @include flex;
    width: 60%;
    margin: auto;
    div {
        margin: 20px;
    }
    img {
        height: 110px;
        width: 130px;
    }
}

.rabbit img {
    height: 280px;
    width: 286px;
    margin: 30px;
}