.fa-arrow-right {
    font-size: 14px;
    margin-left: 10px;
}

.section-one {
    @include flex;
    @include section;
    &>div {
        width: 50%;
    }
    h1 {
        font-size: 50px;
        font-weight: 100;
        padding-right: 80px;
    }
    h2 {
        margin: 40px 0;
        font-weight: 100;
        padding-right: 50px;
    }
    img {
        width: 100%;
        margin-left: 20px;
    }
    button {
        @include btn;
    }
    a {
        font-size: 12px;
    }
}

// section-two--------------------------------------
.section-two,
.section-three,
.section-eight {
    background-color: #FFE7D2;
    text-align: center;
    padding-bottom: 30px;
}

.container {
    @include section;
    text-align: center;
    width: 40%;
}

.row {
    @include flex;
    width: 60%;
    margin: auto;
    div {
        margin: 20px;
    }
    img {
        height: 110px;
        width: 130px;
    }
}

.rabbit {
    @include section;
    border-bottom: 1px solid gray;
    img {
        height: 280px;
        width: 286px;
        margin: 30px;
    }
}

.section-three .rabbit {
    border-bottom: none;
}

// section-four---------------------------------------
.section-four,
.section-five,
.section-six,
.section-seven {
    @include flex;
    width: 85%;
    padding: 50px 0;
    img {
        height: 530px;
        width: 860px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 25px;
        margin: 20px 0;
        padding-right: 30px;
    }
}

img.animals {
    height: 230px;
    width: 300px;
    margin: 60px 40px 30px;
}

// section-five---------------------------------------
.section-five,
.section-seven {
    margin-left: 15%;
}

// section-eight---------------------------------------
.section-eight {
    padding: 40px 0;
    text-align: center;
    div {
        h1 {
            font-size: 40px;
        }
        img {
            height: 550px;
            width: 720px;
            margin-right: 5%;
        }
    }
    button {
        @include btn;
        width: 200px;
    }
}